
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700&family=Raleway:wght@100&family=Rubik&family=Spartan:wght@700&display=swap');

html{
    font-size:62.5%;
}
body{
    background-color: hsl(222, 26%, 31%);
    font-family:"Spartan";
    color:white;
}
.calculator{
    display:flex;
    position:relative;
    flex-direction:column;
    width:29vw;
    height: 62vh;
    left:33%;
    top:16rem;
    border-radius:1rem;
    user-select: none;
}
.topElements{
    display:flex;
    align-items:center;
    width:43rem;
    height:6vh;
}
#topLeftTitle{
    font-size:2.5rem;
    flex-basis:47rem;
}
#topRightButtonTitle{
    font-size:1rem;
    flex-basis:7rem;

}
.topRightToggleBox{
    font-size:1;
    flex-basis:8rem;
}
.previewScreen{
    width:43rem;
    margin-top:1rem;
    height:13vh;
    border-radius:1rem;
    background-color:hsl(224, 36%, 15%);
    pointer-events:none;
}
.mainScreen{
    height:60%;
    margin-top:0.5rem;
}

#presentation{
    padding-left:1rem;
    width:41.5rem;
    height:5rem;
    font-size:4rem;
    font-family:"Spartan";
    font-weight:bold;
    margin-top:1.5rem;
    color:white;
    background-color:hsl(224, 36%, 15%);
    border:0;
}

.answer{
    display:flex;
    position:relative;
    text-align:end;
    width:100%;
}
.answerDisplay{
    margin-left:auto;
    margin-right:1.8rem;
    font-family:"Spartan";
    font-size:2rem;
}

.calculatorBody{
    display:flex;
    flex-direction:column;
    width:43rem;
    margin-top:2rem;
    height:40vh;
    border-radius:1rem;
    background-color:hsl(223, 31%, 20%);
    padding-top:1.3rem;
}

.buttonsOne{
    display:flex;
    margin-left:1.2rem;
}

.buttonDesign{
    font-size:2rem;
    font-family:"Spartan";
    font-weight:700;
    width:8rem;
    height:5rem;
    border-radius:1rem;
    border: none;
    margin:1.1rem;
    margin-top:1.3rem;
    cursor:pointer;
    box-shadow: 0 0.5rem #999;
    padding:1.7rem;
    
}

.buttonDesignSpecial{
    font-family:"Spartan";
    font-size:1.8rem;
    font-weight:700;
    width:42%;
    height:5rem;
    border-radius:1rem;
    border: none;
    margin:0.4rem;
    margin-top:1.2rem;
    margin-left:2.2rem;
    color:white;
    cursor:pointer;
    padding:1.8rem;
}

.buttonBlue{
    background-color:hsl(225, 21%, 49%);
    box-shadow: 0 0.5rem hsl(224, 28%, 35%);
}

.buttonRed{
    background-color:hsl(6, 63%, 50%);
    box-shadow: 0 0.5rem hsl(6, 70%, 34%);
    
}

.buttonTextWhite{
    color:white;
}

.buttonStandard:hover{
    background-color: hsl(0, 0%, 83%);
}

.buttonStandard:active {
    background-color: hsl(0, 0%, 70%);
    box-shadow: 0 5px #555;
    transform: translateY(0.6rem);
}

.buttonSpecialRed:hover{
    background-color: hsl(6, 63%, 45%);
}

.buttonSpecialRed:active {
    background-color: hsl(6, 63%, 40%);
    box-shadow: 0 5px hsl(6, 70%, 30%);
    transform: translateY(0.6rem);
}

.buttonSpecialBlue:hover{
    background-color: hsl(225, 21%, 42%);
}

.buttonSpecialBlue:active {
    background-color: hsl(224, 28%, 32%);
    box-shadow: 0 5px hsl(224, 28%, 25%);
    transform: translateY(0.6rem);
}